//import boostrap

$primary: #f5df4d;
$secondary: rgb(147, 149, 151);
$light: rgb(172, 163, 202);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "dorzelLight": #00ffff,
  "dorzelDark": #b34100,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

// #wrapper-container {
//     height: 100vh;
//     // #content {
//     //     // background-color: green;
//     //     padding-left: 0;
//     //     padding-right: 0;
//     //     height: 100%;
//     // }
// }
#content {
  // background-color: green;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  height: calc(100vh - 56px);
  margin-top:56px;
  #content-1 {
    // height: 50%;
    background-color: #f5df4d;

    .row {
      height: 200px;
      .content-1-section {
        height: 100%;
        background-color: tomato;
        display: flex;
        justify-content: center;
        align-items: center;
        .content-1-section-div {
          height: 90%;
          width: 90%;
          background-color: black;
        }
      }
    }
  }
}
